@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #1c0a40;
  color: whitesmoke;
}
.frame {
  text-align: center;
}
header h1 {
  margin-top: 40px;
}
header p {
  color: rgba(245, 245, 245, 0.466);
  width: 40%;
  margin: auto;
  margin-top: 20px;
}
input {
  margin-top: 40px;
  width: 300px;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  color: black;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border-width: 0 0 7px;
  border-color: #f59164;
}

.btn-luck {
  margin-top: 40px;
  padding: 20px 40px 20px 40px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background-color: #f59164;
  color: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn-luck:hover {
  background-color: #359e5a;
  cursor: pointer;
}

.btn-luck:checked{
    background-color: #359e5a;
}
main p {
  margin-top: 20px;
  font-weight: bolder;
}

footer {
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);
  color: rgba(245, 245, 245, 0.425);
  text-align: center;
  bottom: 10px;
}

@media screen and (max-width: 476px) {
  header p {
    width: 80%;
  }
  footer{
      position:static;
      font-size: 12px;
      margin-top: 40%;
  }
}
